/* ================================== 
all styles for the index page
====================================*/
nav {
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    background-color: #81bcc6;
    margin-bottom: 50px;
  }
  
  a.navbar-brand {
    font-size: 25px;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
  }
  
  form .search {
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    border-bottom: 2px solid #fff;
  }
  
  form .search:focus {
    background: transparent;
    color: #fff;
    border: none;
    outline: none;
    border-bottom: 2px solid #fff;
  
  }
  



/*===================================== 
ALL STYLES FOR THE CONTACT US PAGE
======================================*/


/* =====================================
ALL STYLES FOR THE ABOUT US PAGE
======================================*/